html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#mainColor {
  color: #8bc53f;
}

#lightMainColor {
  color: #8bc53f50;
}

#white {
  color: #ffffff;
}

#black {
  color: #000000;
}

#gray {
  color: #d9d9d9;
}

#lightGray {
  color: #f7f6fb;
}

#backgroundLightMainColor {
  background-color: #8bc53f50;
}

#backgroundWhite {
  background-color: #ffffff;
}

#backgroundLightGray {
  background-color: #f7f6fb;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: red;
  }
}
