html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  border: 0;
  background-color: transparent;
}

/* * {
  box-sizing: border-box;
} */

.z-index-5{
  z-index:5
}

.z-index-10{
  z-index:10
}

.main-color {
  color: #8bc53f;
}

.light-main-color {
  color: #8bc53f50;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.gray {
  color: #d9d9d9;
}

.light_gray {
  color: #f7f6fb;
}

.background_light_main_color {
  background-color: #8bc53f50;
}

.background_white {
  background-color: #ffffff;
}

.background_light_gray {
  background-color: #f7f6fb;
}

#campingSearchInputWrapper{
  width:60%;
  padding: 0 20%;
}

.title_text {
  font-weight: bold;
  font-size: 1rem;
}

.sub_text {
  font-weight: bold;
  font-size: 0.8rem;
}

#searchCloseBtn {
  align-self:flex-end;
  background:transparent;
  color:gray;
  cursor:pointer;
  position:relative;
  border:0px;
}

#searchCloseBtn:hover::after{
  content:"";
  width: 100%;
  aspect-ratio : 1 / 1;
  border-radius:50%;
  background-color:#f6f6f6;
  position: absolute;
  top:0px;
  left:0px;
  opacity:0.6
}

@media (max-width: 1023px) {
  #campingSearchInputWrapper{
    width:80%;
    padding: 0 10%;
  }
}

@media (max-width: 639px) {
  #campingSearchInputWrapper{
    width:90%;
    padding: 0 5%;
  }
  #displayMax700 {
    display: none;
  }
}